{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Booking Details</h1>
  <p><strong>Gig:</strong> <a href="{{ url_for('gig_detail', gig_id=booking.gig.id) }}">{{ booking.gig.title }}</a></p>
  <p><strong>Buyer:</strong> {{ booking.buyer.username }}</p>
  <p><strong>Booking Date:</strong> {{ booking.booking_date.strftime('%Y-%m-%d %H:%M') }}</p>
  <p><strong>Status:</strong> {{ booking.status }}</p>

  <!-- Actions for Seller -->
  {% if current_user == booking.gig.seller %}
      {% if booking.status == 'Pending' %}
          <form method="post" action="{{ url_for('update_booking_status', booking_id=booking.id) }}">
              {{ form.hidden_tag() }}
              <button name="action" value="Accept" class="btn btn-success">Accept</button>
              <button name="action" value="Decline" class="btn btn-danger">Decline</button>
          </form>
      {% elif booking.status == 'Accepted' %}
          <p>Awaiting buyer's payment.</p>
      {% elif booking.status == 'Confirmed' %}
        <form method="post" action="{{ url_for('complete_booking', booking_id=booking.id) }}">
            {{ form.hidden_tag() }}
            <button type="submit" class="btn btn-success">Mark as Completed</button>
        </form>
      {% endif %}
  {% endif %}

  <!-- Actions for Buyer -->
  {% if current_user == booking.buyer %}
      {% if booking.status == 'Accepted' %}
        <form action="{{ url_for('create_checkout_session', booking_id=booking.id) }}" method="POST">
            {{ form.hidden_tag() }}
            <button type="submit" class="btn btn-primary">Pay Now</button>
        </form>
      {% elif booking.status == 'Pending' %}
          <p>Awaiting seller's response.</p>
      {% elif booking.status == 'Confirmed' %}
          <p>Your booking is confirmed. Service is scheduled for {{ booking.booking_date.strftime('%Y-%m-%d %H:%M') }}.</p>
      {% elif booking.status == 'Declined' %}
          <p>Your booking has been declined.</p>
      {% endif %}
  {% endif %}
  
  {% if current_user == booking.buyer and booking.status == 'Completed' %}
      {% if not booking.review %}
          <a href="{{ url_for('review', booking_id=booking.id) }}" class="btn btn-primary">Leave a Review</a>
      {% else %}
          <p>You have already reviewed this booking.</p>
      {% endif %}
  {% endif %}

</div>
{% endblock %}